frontend/node_modules
frontend/.vite
frontend\dist\assets


backend/__pycache__
backend/api/__pycache__
backend/api/models/__pycache__
backend/api/services/__pycache__
backend/api/services/db_requests/__pycache__
backend/api/services/db_requests/updatingSTEP/__pycache__
backend/api/services/importing_STEP/__pycache__
backend/api/services/ifc_conversion/__pycache__
backend/api/services/ifc_conversion/blender_script/__pycache__
backend/api/routes/__pycache__
backend/db/


tmp/projects

tmp/GLB/*
!tmp/GLB/.gitkeep
tmp/gLTF/*
!tmp/gLTF/.gitkeep
tmp/JSON/*
!tmp/JSON/.gitkeep
tmp/RDF/*
!tmp/RDF/.gitkeep
tmp/STEP/*
!tmp/STEP/.gitkeep
tmp/IFC/*
!tmp/IFC/Base_Model.ifc


.vscode
venv
