frontend/node_modules
frontend/.vite


backend/__pycache__
backend/api/__pycache__
backend/api/models/__pycache__
backend/api/services/__pycache__
backend/api/services/db_requests/__pycache__
backend/api/services/importing_STEP/__pycache__
backend/api/services/ifc_conversion/__pycache__
backend/api/services/ifc_conversion/blender_script/__pycache__
backend/api/routes/__pycache__
backend/db/


tmp


.vscode
venv
